*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid grey;
}

.tree{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
/* ### Tree structure ### */
.node-container{
  position: relative;
  width: fit-content;
}

.node{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  position: relative;
}
.node > button{
  all:unset;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.child{
  position: relative;
  right: -100%;
}

.hConnector{
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: black;
  left: -35%;
  top:49%
}

.vConnector{
      position: absolute;
    width: 2px;
    height: 130%;
    background-color: black;
    top: -23%;
    left: -24%;
}

/* pseudoselectors */
.child>.node-container:last-child>.vConnector {
    height: 34px;
    top: -9%;
    transform: translateY(-8px);
}


.openedVConnector{
   transform: translateY(14%)
}